@use "./abstracts/colors.scss" as color;

.footerContainer {
  background-image: url("../public/assets/aquila-footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1010px;
  .tagWrap {
    filter: drop-shadow(-8px 7px 10px rgba(0, 0, 0, 0.5));
    .footerHeader {
      margin-top: 30px;
      // width: 925px;
      clip-path: polygon(8% 0, 100% 15%, 92% 100%, 0% 100%);
      .cardContent {
        padding: 60px !important;
      }
    }
  }

  .footNote {
    border-top: 2px solid color.$neutral-white-color;
    margin-bottom: 20px;
    .span {
      color: color.$neutral-white-color;
    }
  }
}
