@use "./abstracts/colors.scss" as color;

.mainLayout {
  background-color: color.$neutral-white-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainHeader {
  width: 100%;
  background: none;
  z-index: 1000;
  position: absolute;
}

.mainNavigation {
  float: right;
  background: none !important;
}

.mainFooter {
  padding-bottom: 0 !important;
}
